/* COR DO MENU DE NAVEGAÇÃO */
.custom-bg-color {
    background-color: #00296B;
  }

  /*SELEÇÃO COM UMA CORZINHA MAIS ESCURA*/
a:hover{
  background-color: #00307d;
  border-radius: 5px;
}

/* LOGO DO MENU DE NAVEGAÇÃO */
.logo-container {
    text-align: center; 
    margin-bottom: 20px; /* uma margem p/ separar a imagem dos itens do menu */
  }
  
.logo {
  width: 230px; 
  max-width: 100%;
  height: auto; /*auto -> proporção da imagem */
}

/* ICONE DO PAINEL PRINCIPAL */
.icones-menu-nav {
    width: 40px; 
    height: 40px; 
    opacity: 0.8; 
    margin-right: 10px; 
    justify-content: center;
    display: inline-flex;
    align-items: center;
  }

/* ICONE DO LOGOUT */
.icone-logout {
    width: 40px; /* Tamanho do ícone */
    height: 40px; /* Tamanho do ícone */
    opacity: 0.9; /* Opacidade do ícone */
    margin-right: 5px; /* Espaço entre o ícone e o texto "Logout" */
    display: inline-flex;
    align-items: center;
  }

.hook-form-error {
  padding-left: 0.5rem;
  color: #E63946;
}
  
/* No seu arquivo CSS */
.nav-item {
    margin-bottom: 7px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
    vertical-align: middle; /* Centraliza verticalmente a imagem em relação ao texto */
  }
  
/* No seu arquivo CSS */
/* Ocultar textos em telas menores (exibir apenas ícones) */
.nav-item a {
  white-space: nowrap; /* Evitar que os textos se quebrem em várias linhas */
  padding-left: 0;
}

@media (max-width: 820px) { /* Telas menores (exemplo: smartphones) */
  .nav-item a {
    display: inline-block !important;
    width: auto !important;
    overflow: hidden !important;
    clip: auto !important;
    height: auto !important;
    position: static !important;
    line-height: inherit !important;
    text-align: left !important;
    white-space: nowrap !important;
  }
  .nav-item img {
    margin-right: 10px; /* Espaço entre os ícones */
  }
  .nav-item .sr-only {
    display: none !important;
  }
}

.vertical-center {
  min-height: 100vh; /* Defina a altura mínima para a tela inteira */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*PÁGINA DE CRUD POLICIAIS*/
.policial-page-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: auto;
}

.policial-area {
  width: 80%;
}

table th{
  font-size: 14px;
}